<% if @users.count > 0 %>
  <table id='box-table-a'>
    <tr>
      <th>User</th>
      <th colspan="3">Roles</th>
      <th>Change Password</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td class='username'><%= user.username %></td>
      <td class='roles' colspan="3"><%= user.role_list %></td>
      <td>
        <%= link_to 'change password', edit_user_path(user) %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  There are no users.
<% end %>