// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

a, a:visited {
  color: #007FFF;
}

#box-table-a
{
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #ddd;
	border-top: 4px solid #aaa;
	border-bottom: 1px solid #eee;
	color: #000;
}
#box-table-a td
{
	padding: 8px;
	background: #ccc; 
	border-bottom: 1px solid #fff;
	color: #000;
	border-top: 1px solid transparent;
}

